<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLUB • Feed</title>
    <link rel="stylesheet" href="/feed/style.css">
    <link rel="stylesheet" href="/feed/responsivo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap" rel="stylesheet">
    <link rel="icon" href="/Imagens/logo-redonda.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>

    <header> 

        <div class="logo">
            <img src="/Imagens/logo-redonda.png" alt="">
        </div>
        <form action="/pesquisar" method="post">
            <input type="text" name="pesquisar" id="pesquisar">
        </form>
        <button class="fechar-input"> X </button>

        <div class="perfil-icones">

            <div class="buscar">
                <a href="#">
                    <img src="/Imagens/Icones/Buscar.svg" alt="pesquisar">
                </a>
            </div>
            
            <a href="/Programação/Visao Usuario/Isabela/mensagem/mensagem.html"> <img src="/Imagens/Icones/Mensagem.svg" alt="Mensagem"></a>
            <a href="/Programação/Visao Usuario/Isabela/gps/gps.html"> <img src="/Imagens/Icones/GPS.svg" alt="GPS"></a>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/Imagens/avatar feminino.jpg" alt="avatar">
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/configuracoes">Configurações</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/sair">Sair</a></li>
                </ul>
              </div>
        </div>
    
        

    </header>
    <div class="feed-container">
    
        <div class="principal-noticia">

            <a href="/Programação/Visao Usuario/Camila/notícia/noticia.html">
            <div class="noticia-top1">
                <div class="fixado">
                    <img src="/Imagens/Icones/Fixado.svg" alt="fixado">
                    <p>Fixado</p>
                </div>

                <div class="texto-noticia">
                    <h3> Como reciclar corretamente</h3>
                    <p>Aprenda a reciclar de modo correto e assim, não machucar quem contribui com a cidade recolhendo o lixo</p>
                </div>
                <img src="/Imagens/Imagem-top1.png" alt="top1">
                
            </div>
        </a>
        <a href="#">
            <div class="noticia-top2">
                <div class="texto-noticia">
                    <h3> Farmácias recolhem cartela de remédios</h3>
                    <p>Saiba onde descartar sua cartela de remédios, lâmpadas, lixo eletrônico, entre outros</p>
                </div>
                <img src="/Imagens/Imagem-top2.png" alt="top2">
            </div>
        </div>
    </a>

        <div class="outras-noticias">
            {{#each postagens}}
            <a href="/noticia/{{post_titulo}}">
                
                    
                    <img src="{{img_nome}}" alt="">
                    <h1>{{post_titulo}}</h1> 
                    Conteudo: {{post_conteudo}}<br>
                    Data: 	{{{dateFormat post_data "DD/MM/YYYY"}}}<br>
                    <br>
                    <hr>
                {{/each}}

            </a>

          
            
     
       
            {{!-- <a href="">
            <div class="noticia">

                <img src="/Imagens/Imagem-noticia1.png" alt="noticia1">

                <div class="outras-noticias-texto">
                    <div>
                        <h3> Governo de Tupã apresenta nova adesivagem de caminhões de lixo</h3>
                        <p>Nova adesivagem da frota de caminhões apresentadas pela Secretaria Municipal de Agricultura e Mieo Ambiente</p> 
                    </div>
                    <div class="texto-baixo1">
                        <p>Editado</p>
                        <p>Postado em: 11/09/2022</p>
                    </div>
                </div>
            </div>
        </a>
            
            <a href="">
            <div class="noticia">

                
                <img src="/Imagens/Imagem-noticia2.png" alt="noticia2">

                <div class="outras-noticias-texto">
                    <div>
                        <h3> Aterro sanitário de Tupã é bem avaliado pela CETESB</h3>
                        <p>Tupã obteve nota inédita de 7,9 no qual significa condições adequadas</p> 
                    </div>
                    <div class="texto-baixo2">

                        <p>Postado em: 11/09/2022</p>
                    </div>
                </div>
            </div>
        </a>
            <a href="">
            <div class="noticia">

                <img src="/Imagens/Imagem-noticia3.png" alt="noticia3">

                <div class="outras-noticias-texto">
                    <div>
                        <h3> Lixo jogado nas ruas causa danos à cidade, ao meio ambiente e à população</h3>
                        <p>Andar na cidade em dia de chuva nunca esteve tão perigoso, uma chuvinha simples vira enxente na cidade por causa dos bueiros entupidos</p> 
                    </div>
                    <div class="texto-baixo2">
                        <p>Postado em: 11/09/2022</p>
                    </div>
                </div>
            </div>
        </a> --}}
<!-- 
            <div class="noticia">
                <img src="/Imagens/Imagem-noticia2.png" alt="noticia2">

                <div class="outras-noticias-texto">
                    <div>
                        <h3> Aterro sanitário de Tupã é bem avaliado pela CETESB</h3>
                        <p>Tupã obteve nota inédita de 7,9 no qual significa condições adequadas</p> 
                    </div>
                     
                    <div>
                        <div class="texto-baixo">
                        <p>Postado em: 11/09/2022</p> 
                    </div>
                </div>
            </div>

            <div class="noticia">
                <img src="/Imagens/Imagem-noticia3.png" alt="noticia3">

                <div class="outras-noticias-texto">
                    <h3> Lixo jogado nas ruas causa danos à cidade, ao meio ambiente e à população</h3>
                    <p>Andar na cidade em dia de chuva nunca esteve tão perigoso, uma chuvinha simples vira enxente na cidade por causa dos bueiros entupidos</p>

                    <p>Postado em: 11/09/2022</p>
                </div>
            </div>
             -->
        </div>
    </div>

    <footer>

        <div class="footer-container">
            <div class="images">
                <a href="https://www.facebook.com/GLUB-ofc-108608445282951/" class="img-instagram"> <img src="/Imagens/facebook.png" alt="facebook"> </a>
                <a href="https://www.instagram.com/gerenciamentoglub/" class="img-facebook"> <img src="/Imagens/insta.png" alt="instagram"> </a>
            </div>
                <p>Copyright © 2022 Glub. All rights reserved.</p>
           
    </div>
    </footer>

    <script src="/feed/index.js"></script>
</body>
</html>